<div layout="row" layout-sm="column" layout-xs="column">

    <div flex-gt-sm="33">
        <div ng-controller="KafkaConnectListCtrl" ng-include="'src/kafka-connect/list/list-connectors.html'"></div>
    </div>
    <div flex-gt-sm="66">
        <md-card  class="new">

            <md-toolbar ng-show="!displayingControlTopics" class="md-hue-2">
                <div class="md-toolbar-tools">
                    <h4>
                        <span>New Connector</span>
                    </h4>
                    <span flex></span>
                </div>
            </md-toolbar>

            <md-input-container class="md-block" style="margin-bottom:0;padding-bottom:0;">
                <label>Search</label>
                <input ng-model="search2">
            </md-input-container>

            <md-content layout="row">

                <md-list class="dense" flex ng-if="sources.length > 0">
                    <md-subheader class="md-no-sticky">Sources</md-subheader>
                    <md-list-item ng-repeat='source in sources | filter : search2' class="md-2-line"
                                  ng-if="classesInClasspath.indexOf(source.class) !=-1"
                                  ng-href="{{ classesInClasspath.indexOf(source.class) !==-1 && '#/cluster/'+cluster+'/create-connector/source/' + source.name || '' }}"
                                  ng-class="classesInClasspath.indexOf(source.class) ==-1 && 'notavailable' || '' ">
                        <img ng-src="src/assets/icons/{{source.icon}}" class="md-avatar" style="width:40px;height:40px;" />
                        <div class="md-list-item-text" >
                            <h3><b>{{source.name}}</b></h3>
                            <p style="font-size:12px;">{{source.description}}</p>
                        </div>
                    </md-list-item>
                </md-list>

                <md-list class="dense" flex ng-if="sinks.length > 0" >
                    <md-subheader class="md-no-sticky">Sinks</md-subheader>
                    <md-list-item ng-repeat='sink in sinks  | filter : search2' class="md-2-line"
                                  ng-if="classesInClasspath.indexOf(sink.class) !=-1"
                                  ng-href="{{ classesInClasspath.indexOf(sink.class) !==-1 && '#/cluster/'+cluster+'/create-connector/sink/' + sink.name || '' }}"
                                  ng-class="classesInClasspath.indexOf(sink.class) ==-1 && 'notavailable' || '' ">
                        <img ng-src="src/assets/icons/{{sink.icon}}" class="md-avatar" style="width:40px;height:40px;" />
                        <div class="md-list-item-text">
                            <h3><b>{{sink.name}}</b></h3>
                            <p style="font-size:12px;">{{sink.description}}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-card>
    </div>
</div>