<form class="form" name="form">
    <div ng-class="{'has-error':form.json.$invalid, 'has-success':!form.code.$invalid}">
        <div id="propertyFile" style="min-height:7em"
             ng-readonly="connectorConfigurationEditable"
             ng-style="{'background-color':aceBackgroundColor }"
             name="json"
             ng-model="connectorDetails.connectorDetailsInString"
             ui-ace="{ mode: 'json', firstLineNumber: 1, onLoad: aceLoaded, onChange: aceChanged, showPrintMargin: false, blockScrolling: Infinity }"
             valid-json>
        </div>

        <br>

        <!--Client Side Validation Messages-->
        <div class="red" ng-show="form.json.$error.validJson && showSyntaxValidation">- {{invalidSyntaxMessage}}</div>

        <!--Server Side Validation Messages-->
        <!--Validation OK-->
        <div class="green">{{validConfig}}</div>

        <!--Validation NOT OK-->
        <div class="red">{{configValidationMessage}}</div>

        <!--Validation Errors-->
        <div ng-repeat="errorConfig in errorConfigs">
            <div ng-repeat="error in errorConfig.errors" style="color: red">
                - "{{errorConfig.name}}" : {{error}}<br>
            </div>
        </div>

        <!--Action buttons-->
        <md-card-actions layout="row" layout-align="end center">

            {{isDisabled = (actionsDisabled || form.json.$error.validJson ? true : false); ""}}

            <md-button ng-show="!connectorConfigurationEditable" ng-disabled="isDisabled"
                       ng-click="validateConnector(connectorDetails, _editor);"
                       class="md-raised">Validate</md-button>

            <md-button ng-show="!connectorConfigurationEditable" ng-disabled="isDisabled"
                       ng-click="updateConnector(connectorDetails.name, $event, _editor);"
                       class="md-raised"> <i class="fa fa-floppy-o" aria-hidden="true"></i>  Validate & Save</md-button>

        </md-card-actions>


    </div>
</form>